.footer {
    display: flex;
    align-items: center;

    position: relative;
    margin: 5% 1%;
}

.footer div {
    display: flex;
    align-items: center;
    font: normal normal normal 18px/22px Montserrat;
}

.footer img {
    position: absolute;
    left: 45%;
}

.footer-email {
    position: absolute;
    right: 0;
}

.footer div i {
    margin: 0 10px;
    color: #4169E1;
    font-size: 32px;
}

@media screen and (max-width: 750px) {
    .footer {
        flex-direction: column;
    }
    .footer-picto {
        align-self: flex-start;
    }
    .footer img {
        display: none;
    }
    .footer-email {
        align-self: flex-end;
        position: relative;
        bottom: 0;
    }
}