.footer {
    display: flex;
    align-items: center;

    position: relative;
    margin: 5% 11%;
}

.footer div {
    display: flex;
    align-items: center;
    font: normal normal normal 18px/22px Montserrat;
}

.footer img {
    position: absolute;
    left: 45%;
    transition-duration: 0.5s;
}

.footer img:hover {
    transform: rotate(360deg);
}

.footer-email {
    position: absolute;
    right: 0;
}

.footer-email a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}

.footer div i {
    margin: 0 10px;
    color: #4169E1;
    font-size: 32px;
    cursor: pointer;
    transition-duration: 0.5s;
}

.footer div i:hover {
    transform: scale(1.10);
}

@media screen and (max-width: 750px) {
    .footer {
        flex-direction: column;
    }
    .footer-picto {
        align-self: flex-start;
    }
    .footer img {
        display: none;
    }
    .footer-email {
        align-self: flex-end;
        position: relative;
        bottom: 0;
    }
}