* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.separator {
    margin: 300px 0;
}

.separator2 {
    margin: 200px 0;
}

.home-container {
    margin-top: 150px;
}

.home-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-section2 {
    display: flex;
    justify-content: space-between;
}

.home-cat-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;

    font: normal normal bold 25px/48px Montserrat;
    letter-spacing: 0px;
    text-align: center;
    color: #4169E1;
}

.home-cat-title img {
    width: 50%;
    height: 50%;
}

.home-cat-text {
    width: 45%;
    position: relative;
}

.home-cat-text h2 {
    text-align: left;
    font: normal normal bold 35px/42px Montserrat;
    letter-spacing: 0px;
    margin: 10px 0;
    color: #4169E1
}

.home-cat-text p {
    text-align: justify;
    font: normal normal normal 18px/22px Montserrat;
    letter-spacing: 0px;
    margin: 10px 0;
}

.home-cat-text button {
    text-align: center;
    font: normal normal bold 18px/22px Montserrat;
    letter-spacing: 0px;
    position: relative;
    top: 10px;
    padding: 15px 20px;
    background-color: white;
    border: 1px solid #4169E1;
    color: #4169E1;
    cursor: pointer;
    text-decoration: none;
}

.underline {
    display: block;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #4169E1;
}

.underline2 {
    display: block;
    position: absolute;
    right: 0;
    width: 0;
    height: 3px;
    background-color: #4169E1;
}

.home-cat-picto {
    position: relative;
    width: 45%;
}



.home-img-1-1 {
    position: absolute;
    left: -40px;
    top: -100px;
    width: 250px;
    height: 250px;
}

.home-img-1-2 {
    position: absolute;
    left: 60px;
    top: 25px;
    width: 200px;
    height: 200px;
}

.home-img-1-3 {
    position: absolute;
    left: 200px;
    top: 100px;
    width: 200px;
    height: 200px;
}



.home-img-2-1 {
    position: absolute;
    right: 20px;
    top: -140px;
    width: 300px;
    height: 300px;
}

.home-img-2-2 {
    position: absolute;
    right: 40px;
    top: -50px;
    width: 275px;
    height: 275px;
}

.home-img-2-3 {
    position: absolute;
    right: 175px;
    top: 75px;
    width: 225px;
    height: 225px;
}




.home-img-3-1 {
    position: absolute;
    left: -20px;
    top: -150px;
    width: 250px;
    height: 250px;
}

.home-subcat-picto {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: absolute;
    top: 0;
    left: 30px;
}

.home-subcat-picto span {
    font-size: 30px;
    margin: 0 10px;
}

.home-star-1, .home-star-5 {
    position: relative;
    top: 35px;
}

.home-star-2, .home-star-4 {
    position: relative;
    top: 15px;
}

.home-subcat-picto i {
    font-size: 70px;
    position: relative;
    top: 40px;
}

.home-img-3-3 {
    position: absolute;
    left: 175px;
    top: 50px;
    width: 200px;
    height: 200px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

@media screen and (max-width: 1100px) {
    .home-img-1-1 {
        top: -30px;
        width: 200px;
        height: 200px;
    }
    .home-img-1-2 {
        top: 70px;
        width: 150px;
        height: 150px;
    }    
    .home-img-1-3 {
        top: 135px;
        left: 150px;
        width: 150px;
        height: 150px;
    }
    


    .home-img-2-1 {
        top: -50px;
        width: 250px;
        height: 250px;
    }    
    .home-img-2-2 {
        top: 30px;
        right: 20px;
        height: 225px;
        width: 225px;
    }
    .home-img-2-3 {
        top: 130px;
        right: 120px;
        width: 175px;
        height: 175px;
    }



    .home-subcat-picto {
        
        left: 5px;
    }
    .home-img-3-1 {
        left: -20px;
        top: -70px;
        width: 65%;
        height: 65%;
    }
    .home-img-3-3 {
        right: 10px;
        bottom: 20px;
        width: 65%;
        height: 65%;
    }
}

@media screen and (max-width: 750px) {
    .home-cat-picto {
        display: none;
    }
    .home-cat-text {
        width: 75%;
    }
    .separator {
        margin: 100px 0;
    }
    .home-section-mobile-right {
        justify-content: flex-end;
    }
    .home-section-mobile-head {
        display: block;
    }
    .home-cat-title {
        width: 100%;
        margin-bottom: 50px;
    }
}